$tablet: 600px;
$desktop: 1024px;
$desktop-big: 1400px;

$media-screen-tablet: '(min-width: #{$tablet})';
$media-screen-desktop: '(min-width: #{$desktop + 1})';
$media-screen-desktop-big: '(min-width: #{$desktop-big})';

$color-white: #fff;
$color-grey-dark: #4e4e4e;
$color-grey: #5e5e5e;
$color-blue: #02359d;


@mixin position-absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin background-icons {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
