.wrapper {
  max-width: 1880px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.service__list {
  max-width: 1880px;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service__item {
  width: 20%;
  height: auto;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: 1s ease;
}

.service__item--inner {
  margin-right: auto;
}

.service__front {
  width: 100%;
  position: relative;
  z-index: 3;
  transition: 1s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.service__front img {
  width: 100%;
  height: auto;
}

.service__link {
  position: absolute;
  z-index: 30;
  margin: auto;
  top: 50px;
  left: 0;
  right: 0;
  display: inline-block;
  width: 90%;
  height: auto;
  padding: 30px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.service__side {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #5e5e5e, #4e4e4e);
  padding: 0 35px;
  padding-top: 215px;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.service__side-link {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 2;
}

.service__item:hover .service__front {
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
}

.service__item:hover .service__side {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.footer {
  width: 100%;
  padding: 0 20px;
  padding-top: 65px;
  padding-bottom: 15px;
  box-shadow: 0px -10px 18px 0px rgba(40, 61, 77, 0.4);
  position: absolute;
  z-index: 30;
  bottom: 0;
  color: #fff;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 70px;
  margin-bottom: 45px;
}

.footer__info-tel, .footer__info-logo, .footer__info-email {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

.footer__copyright {
  text-align: center;
}
