.service__list {
  max-width: 1880px;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service__item {
  width: 20%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.service__front {
  width: 100%;
}

.service__front img {
  width: 100%;
  height: auto;
}

.service__link {
  position: absolute;
  margin: auto;
  top: 50px;
  left: 0;
  right: 0;
  display: inline-block;
  width: 90%;
  height: auto;
  padding: 30px;
  background-color: #02359d;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
